<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SourceOrcal"  connectionString ="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.26.180.136)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCLDATA)));Persist Security Info=True;User ID=CXXT_ADMI;Password=CXXT_ADMI"   providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ImportMySql"  connectionString ="Database=cxxt_admi;Data Source=10.26.180.137;User Id=admin;Password=admin;pooling=false;CharSet=utf8;port=3306"   providerName="MySql.Data.MySqlClient"/>  </connectionStrings>
  <appSettings>
    <!--每次读取最大数据量-->
    <add key="SingleDatavolume" value="100000"/>
    <!--单个线程工作量-->
    <add key="ThreadDatavolume" value="500000"/>
  </appSettings>
</configuration>